In [1]:
import numpy as np

In [ ]:
# %load structured.txt
Jay,1,2,Yes,87%
James,3,4,No,3%
Joe,5,6,Yes,55%

In [7]:
# 使用字母代表的資料型別
dt = np.dtype('U5, i8, i8, U3')

In [8]:
a = np.genfromtxt("structured.txt", delimiter=',', dtype=dt)
a

array([('Jay', 1, 2, 'Yes'), ('James', 3, 4, 'No'), ('Joe', 5, 6, 'Yes')],
      dtype=[('f0', '<U5'), ('f1', '<i8'), ('f2', '<i8'), ('f3', '<U3')])

In [9]:
dt = np.dtype({'names':('Name', 'num1', 'num2', 'True'), 'formats':((np.str_, 5), np.int32, int, 'U3')})

In [10]:
b = np.genfromtxt("structured.txt", delimiter=',', dtype=dt)
b

array([('Jay', 1, 2, 'Yes'), ('James', 3, 4, 'No'), ('Joe', 5, 6, 'Yes')],
      dtype=[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i4'), ('True', '<U3')])

In [11]:
b[0]

('Jay', 1, 2, 'Yes')

In [12]:
b['Name']

array(['Jay', 'James', 'Joe'], dtype='<U5')

In [13]:
b[1]['True']

'No'

In [14]:
b[b['num2'] >= 3]['Name']

array(['James', 'Joe'], dtype='<U5')

In [15]:
c = np.zeros(3, dtype=dt)
c

array([('', 0, 0, ''), ('', 0, 0, ''), ('', 0, 0, '')],
      dtype=[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i4'), ('True', '<U3')])

In [16]:
print(c.dtype)

[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i4'), ('True', '<U3')]

In [17]:
name = ['Chloe', 'Charlotte', 'Clara']
num_1 = [11, 12, 13]
num_2 = [14, 15, 16]
check = ['Y', 'Y', 'N']

In [18]:
c['Name'] = name
c['num1'] = num_1
c['num2'] = num_2
c['True'] = check

In [19]:
print(c)

[('Chloe', 11, 14, 'Y') ('Charl', 12, 15, 'Y') ('Clara', 13, 16, 'N')]

In [20]:
c_rec = c.view(np.recarray)
c_rec

rec.array([('Chloe', 11, 14, 'Y'), ('Charl', 12, 15, 'Y'),
           ('Clara', 13, 16, 'N')],
          dtype=[('Name', '<U5'), ('num1', '<i4'), ('num2', '<i4'), ('True', '<U3')])

In [21]:
c_rec.Name

array(['Chloe', 'Charl', 'Clara'], dtype='<U5')

In [67]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

In [68]:
#1. 將上列list依照['name', 'sex', 'weight', 'rank', 'myopia']順序擺入array，並且資料型態順序擺入[Unicode,Unicode,float,int,boolean]

In [132]:
dt2 = np.dtype({'names':('Name', 'sex', 'weight', 'rank', 'myopia'), 'formats':((np.str_, 5), (np.str_, 5), 'f8', 'f8', 'int8', '?')})
listt = np.zeros(8, dtype = dt2)
listt

array([('', '', 0., 0., 0), ('', '', 0., 0., 0), ('', '', 0., 0., 0),
       ('', '', 0., 0., 0), ('', '', 0., 0., 0), ('', '', 0., 0., 0),
       ('', '', 0., 0., 0), ('', '', 0., 0., 0)],
      dtype=[('Name', '<U5'), ('sex', '<U5'), ('weight', '<f8'), ('rank', '<f8'), ('myopia', 'i1')])

In [133]:
listt['Name'] = name_list
listt['sex'] = sex_list
listt['weight'] = weight_list
listt['rank'] = rank_list
listt['myopia'] = myopia_list

In [134]:
#2. 呈上題，將array中體重(weight)數據集取出算出全部平均體重

In [136]:
w = listt['weight']
type(w)
print("平均體重為", np.mean(w))

平均體重為 69.8375

In [137]:
#3. 呈上題，進一步算出男生(sex欄位是boy)平均體重

In [139]:
where1 = np.where(listt['sex']=='boy')
avrboy_w = np.mean(listt[where1]['weight'])
print("男生平均體重", avrboy_w, "公斤")

男生平均體重 77.18333333333332 公斤

In [140]:
#3. 呈上題，進一步算出女生(sex欄位是girl)平均體重

In [142]:
where2 = np.where(listt['sex']=='girl')
avrgirl_w = np.mean(listt[where2]['weight'])
print("女生平均體重", avrgirl_w, "公斤")

女生平均體重 47.8 公斤

In [1]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\user\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\user\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [2]:
# 從 Series 和 DataFrame 開始

s = pd.Series([1, 2, 3])
print(s)
print(type(s))

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:

df = pd.DataFrame([1, 2, 3])
print(df)
print(type(df))

   0
0  1
1  2
2  3
<class 'pandas.core.frame.DataFrame'>

In [4]:
# Series 的常用屬性

s = pd.Series([1, 2, 3])
print(s.shape) # (3, )
print(s.size) # 3
print(s.dtype) # int64

(3,)
3
int64

In [5]:
# DataFrame 的常用屬性

df = pd.DataFrame([1, 2, 3])
print(df.shape) # (3, 1)
print(df.size) # 3
print(df.dtypes)

(3, 1)
3
0    int64
dtype: object

In [6]:
'''
同陣列中可有不同形態的資料
'''

'\n同陣列中可有不同形態的資料\n'

In [7]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [9]:
df.shape

(10, 4)

In [10]:
df.size

40

In [12]:
df.values

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [13]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [15]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [17]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [20]:
df.len

AttributeError: 'DataFrame' object has no attribute 'len'