In [1]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'C:\\Users\\user\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'C:\\Users\\user\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

In [2]:
# Series

s = pd.Series([1,2,3])
print(s)
s

0    1
1    2
2    3
dtype: int64

0    1
1    2
2    3
dtype: int64

In [3]:
s = pd.Series([1,2,3],  index=['Amy', 'Bob', 'Tom'])
print(s)
s

Amy    1
Bob    2
Tom    3
dtype: int64

Amy    1
Bob    2
Tom    3
dtype: int64

In [4]:
# DataFrame

df = pd.DataFrame([1, 2, 3])
print(df)
df

   0
0  1
1  2
2  3

   0
0  1
1  2
2  3

In [5]:
df = pd.DataFrame([1, 2, 3], index=['a', 'b', 'c'], columns=['No'])
print(df)
df

   No
a   1
b   2
c   3

   No
a   1
b   2
c   3

In [6]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])

print(df)
df

   0  1  2
0  1  2  3
1  4  5  6

   0  1  2
0  1  2  3
1  4  5  6

In [7]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df)
df

   A  B  C
a  1  2  3
b  4  5  6

   A  B  C
a  1  2  3
b  4  5  6

In [8]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [18, 20],
})
print(df)
df

    Name  Age
0  Alice   18
1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [9]:
df = pd.DataFrame([
  {'Name': 'Alice', 'Age': 18},
  {'Name': 'Bob', 'Age': 20}
])
print(df)
df

    Name  Age
0  Alice   18
1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [10]:
# DataFrame 是由 Series 组成的

df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['A', 'B', 'C'])
print(df['B'])
print(type(df['B']))

a    2
b    5
Name: B, dtype: int64
<class 'pandas.core.series.Series'>

In [12]:
# 查看資料

print(df.head())
print("**********")
print(df.tail())
print("**********")
print(df.describe())
print("**********")
print(df.info())

   A  B  C
a  1  2  3
b  4  5  6
**********
   A  B  C
a  1  2  3
b  4  5  6
**********
             A        B        C
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000
**********
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
 2   C       2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes
None

In [16]:
df_hw1 = pd.DataFrame({'姓名' : ['汪文聰', '張潔玲', '蕭維珍'], '是否有去圖書館' : [True, True, False]})
df_hw1

    姓名  是否有去圖書館
0  汪文聰     True
1  張潔玲     True
2  蕭維珍    False

In [17]:
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon

In [18]:
df_hw2 = pd.DataFrame({'city':['Austin', 'Dallas', 'Austin', 'Dallas'], 'visitor':[139, 237, 326, 456], 'weekday':['Sun', 'Sun', 'Mon', 'Mon']})
df_hw2

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [29]:
df_hw2['weekday']

0    Sun
1    Sun
2    Mon
3    Mon
Name: weekday, dtype: object

In [32]:
y = df_hw2['visitor']

In [33]:
np.mean(y[0:1])

139.0

In [35]:
print("Sun" , np.mean(y[0:1]))

Sun 139.0

In [36]:
print("Mon" , np.mean(y[2:3]))

Mon 326.0